<section id="plots_list">
<h1> Plots Index </h1>

  <% @plots.each do |plot| %>
    <section id="plot-<%= plot.id %>">
      <h3>Plot # <%= plot.number %>&emsp;-- has these plants:</h3>
      <% plot.plants.each do |plant| %>
        <p>&emsp;<%= plant.name %>&emsp;&emsp;*
        <%= link_to "Remove #{plant.name}", "/plots/#{plot.id}/plants/", method: :delete %></p>
      <% end %><br>
    </section>
  <% end %>

</section>
